<% include ./header.ejs %>
<body>
<div class="content content-archive">
    <% include ./component/page-header.ejs %>
    <div class="post-list-box archive-body">

    </div>
    <div class="archive-footer">
        <% include ./component/pagination.ejs %>
    </div>
    <div>

    </div>
</div>

</body>
</html>