<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EVIL</title>
    <link rel="stylesheet" href="/plugins/md_editor/css/style.css">
    <link rel="stylesheet" href="/plugins/md_editor/css/editormd.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/plugins/highlight/styles/highlight.css">
</head>
