<div class="content-home text-center">
    <a class="avatar" href="/">
        <img src="img/avatar.jpg">
    </a>
    <h1 class="name" style="font-family: calligraffittiregular,fantasy">MWY</h1>
    <div class="slogan">
        Find the bug of the world
    </div>
    <hr>
    <ul class="text-center nav">
        <li class="item">
            <a href="/">Blog</a>
            <span>|</span>
        </li>
        <li class="item">
            <a href="/">Github</a>
            <span>|</span>
        </li>
        <li class="item">
            <a href="/">StackOverflow</a>
            <span>|</span>
        </li>
        <li class="item">
            <a href="/">About Me</a>
            <span>|</span>
        </li>
    </ul>
</div>