<% include ./header.ejs %>
<body>
<div class="post-header CENTER">
    <% include component/toolbox.ejs %>
</div>
<div class="content content-post CENTER">
    <%- include('component/article', {post: page}) %>
</div>

</body>
</html>