<article id="post-" class="article article-type-post">
    <header class="article-header">
        <h1 class="post-title">Java, node.js, Go</h1>
        <div class="article-meta">
            <span>
                <i class="icon-calendar"></i>
                <span>2016.03.06</span>
            </span>
            <span class="article-author">
                <i class="icon-user"></i>
                <span>MWY</span>
            </span>
            <% include category.ejs %>

        </div>
    </header>
    <div class="article-content">
        <!--%- post.content %-->
        <h1 id="Hello-world"><a href="#Hello-world" class="headerlink" title="Hello world"></a>Hello world</h1><pre><code>var express = require(&apos;express&apos;);
</code></pre><h2 id="Hello-world-1"><a href="#Hello-world-1" class="headerlink" title="Hello world"></a>Hello world</h2><p>hello</p>
    </div>

</article>