<div class="pagination">
    <div class="pagination">
        <nav class="page-nav">
            <%- paginator({
            current: 1,
            format: 'page/%d/',
            total: 30,
            prev_text: '<i class="icon-angle-left"></i>',
            next_text: '<i class="icon-angle-right"></i>',
            mid_size: 1
            })%>
        </nav>
    </div>
</div>